<section>
  <header class="flex-header">
    <h1 class="grow-header">
      Dogs
    </h1>
    <button type="button" title="Fetch random dog picture">
      <i class="fas fa-random fa-fw"></i>
    </button>
  </header>
</section>
<section>
  🐶
</section>